{% extends 'base.html.twig' %}

{% block title %}Création de nouveau site{% endblock %}

{% block body %}
    <h4 class="txt-custom-prim my-3">Créer un nouveau site</h4>
    <div class="card my-3 p-3">
{#        {{ include('site/_form.html.twig') }}#}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="a-custom-sec my-3">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
    <a class="a-custom-sec-outline" href="{{ path('app_site_index') }}">Retourner aux sites</a>
{% endblock %}
