{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div>
        <h3>Filtrer les sorties</h3>

        <div class="card p-3 mb-4 shadow-sm">
            {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

            <div class="col-md-4">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.datedebut) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.datecloture) }}
            </div>


            <div class="col-12">
                {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
