<nav class="navbar navbar-expand-lg navbar-light w-75 m-auto bg-custom-white px-4">
    <div class="container-fluid">
        <!-- Titre / Logo -->
        <a class="navbar-brand txt-custom-sec" href="{{ path('app_sortie_index') }}">
            <img src="{{ asset('logo.png') }}" alt="Logo sortir" style="width: 100px;">
        </a>

        <!-- Bouton hamburger pour mobile -->
        <button  class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
               aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
{#            <svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">#}
{#                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>#}
{#            </svg>#}
          </button>

        <!-- Liens de navigation + Auth -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <!-- Liens -->
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link txt-custom-sec" href="{{ path('admin_users') }}" data-turbo="false">Participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link txt-custom-sec" href="{{ path('app_ville_index') }}" data-turbo="false">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link txt-custom-sec"  href="{{ path('app_site_index') }}" data-turbo="false">Sites</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link txt-custom-sec"  href="{{ path('app_sortie_index') }}" data-turbo="false">Accueil</a>
                </li>

                <!-- Authentification boutons -->
                {% if app.user %}
                    <li class="nav-item ms-2">
                        <a class="a-custom-sec" href="{{ path('app_profile') }}" data-turbo="false">Mon profil</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="a-custom-sec-outline" href="{{ path('app_logout') }}" data-turbo="false">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-2">
                        <a class="a-custom-sec" href="{{ path('app_login') }}" data-turbo="false">Login</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
