{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h4 class="txt-custom-prim my-3">Modifier une sortie</h4>
    <div class="card my-3 p-4 shadow-sm">
        {{ form_start(form) }}
        {% include 'sortie/_form_fields.html.twig' %}
        <div class="d-flex justify-content-center gap-3 mt-4 align-items-center">
            {{ form_widget(form.enregistrer, {'attr': {'class': 'a-custom-sec'}}) }}
            {{ form_widget(form.publier, {'attr': {'class': 'a-custom-sec'}}) }}
            <a href="{{ path('app_sortie_index') }}" class="a-custom-warn-outline">Annuler</a>
            <!-- Bouton suppression lié au form externe -->
            <button class="a-custom-warn" form="delete-form">Supprimer</button>
        </div>
        {{ form_end(form) }}

        <!-- Formulaire de suppression caché -->
        <form id="delete-form" method="post" action="{{ path('app_sortie_delete', {'id': form.vars.value.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ form.vars.value.id) }}">
        </form>

    </div>
{% endblock %}
