{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h4 class="txt-custom-prim my-3">Modifier une sortie</h4>
    <div class="card my-3 p-4 shadow-sm">
        {{ form_start(form) }}

        {% include 'sortie/_form_fields.html.twig' %}
        <div class="d-flex justify-content-center gap-3 mt-4">
            {{ form_widget(form.enregistrer, {'attr': {'class': 'a-custom-sec'}}) }}
            {{ form_widget(form.publier, {'attr': {'class': 'a-custom-sec'}}) }}
            <a href="{{ path('app_sortie_index') }}" class="a-custom-warn">Annuler</a>
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}
