{% extends 'base.html.twig' %}

{% block title %}Création de nouvelle ville{% endblock %}

{% block body %}
    <h4 class="txt-custom-prim my-3">Créer une nouvelle ville</h4>

    {#    {{ include('ville/_form.html.twig') }} #}
    <div class="card my-3 p-3">
        {{ form_start(form) }}
        <div class="d-flex flex-column gap-1 mb-3">
            {{ form_label(form.nom_ville, 'Nom de la ville', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nom_ville, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom_ville) }}

            {{ form_label(form.code_postal, 'Code postal', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.code_postal, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.code_postal) }}
        </div>
        <button class="a-custom-sec my-3">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}

    </div>
    <a class="a-custom-sec-outline" href="{{ path('app_ville_index') }}">retourner aux villes</a>
{% endblock %}
