{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body p-3">
                <header class="text-center mb-3">
                    <h1 class="h5 mb-2">Connexion</h1>
                    <i class="bi bi-person-circle text-muted d-block" style="font-size: 2.5rem;"></i>
                </header>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form method="post" class="d-flex flex-column login-controls">
                    <div class="mb-2">
                        <label for="username" class="form-label">Identifiant</label>
                        <input type="text" name="_username" id="username"
                               class="form-control w-100"
                               value="{{ last_username }}"
                               autocomplete="username"
                               placeholder="Votre pseudo" required autofocus>
                    </div>

                    <div class="mb-2">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" name="_password" id="password"
                               class="form-control w-100"
                               autocomplete="current-password"
                               placeholder="Votre mot de passe" required>
                    </div>

                    <div class="mb-2">
                        <div class="form-check">
                            <input class="form-check-input" style="width: 16px" type="checkbox" name="_remember_me" id="remember_me" >
                            <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-primary w-100 mb-2">Connexion</button>

                    <div class="text-center">
                        <a href="#" class="text-muted text-decoration-none small">Mot de passe oublié ?</a>
                    </div>
                </form>

                <hr class="my-3">
{#                <div class="text-center">#}
{#                    <small class="text-muted d-block mb-1">Pas encore de compte ?</small>#}
{#                    <a href="{{ path('app_register') }}" class="btn btn-outline-primary btn-sm">Créer un compte</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>
{% endblock %}

